[Unit]
Description=Helpdesk Application
After=syslog.target
After=network.target[Service]
User=helpdesk
Type=simple

[Service]
ExecStart=/usr/bin/java -jar /home/helpdesk/apps/helpdesk/be/current/helpdesk.jar

Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=helpdesk

[Install]
WantedBy=multi-user.target
