<!DOCTYPE html>
<html>
<head>
	<title>issues</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<h3>Get all issues : </h3>
	<input type="text" id="keyword"/>
	<a href="javascript:void(0);" class="btn btn-primary" id="btn-all-issues">GET</a>
	<h3>Get an issue by id : </h3>
	<input type="text" id="issueId"/>
	<a href="javascript:void(0);" class="btn btn-primary" id="btn-issue-by-id">GET</a>
	<h3>Get all issues of account by accountId : </h3>
	<input type="text" id="accountId"/>
	<a href="javascript:void(0);" class="btn btn-primary" id="btn-all-issues-by-accountId">GET</a>
	<h3>[POST][PUT] issue</h3>		
	<form action="javascript:void(0);">
		<div class="row">
			<div class="col-2"></div>
			<label class="col-4">issueId : </label>
			<input class="col-4"type="text" id="issueId"/>
			<div class="col-2"></div>
		</div> <br/>		
		<div class="row">
			<div class="col-2"></div>
			<label class="col-4">Title : </label>
			<input class="col-4"type="text" id="title"/>
			<div class="col-2"></div>
		</div> <br/>
		<div class="row">
			<div class="col-2"></div>
			<label class="col-4">Content : </label>
			<input class="col-4"type="text" id="content"/>
			<div class="col-2"></div>
		</div> <br/>
		<div class="row">
			<div class="col-2"></div>
			<label class="col-4">Reply message :</label>
			<input class="col-4"type="text" id="replyMessage"/>
			<div class="col-2"></div>
		</div> <br/>
		<div class="row">
			<div class="col-2"></div>
			<label class="col-4">Status :</label>
			<input class="col-4"type="text" id="status"/>
			<div class="col-2"></div>
		</div> <br/>
		<div class="row">
			<div class="col-2"></div>
			<input type="submit" id="btn-create-issue" value="Create" class="btn btn-primary col-8" />
			<div class="col-2"></div>
		</div> <br/>
		<div class="row">
			<div class="col-2"></div>
			<input type="submit" id="btn-update-issue" value="Update" class="btn btn-primary col-8" />
			<div class="col-2"></div>
		</div>
	</form>
	<script>
		
		$("#btn-all-issues").click( function() {
			$.ajax({
				type: 'GET',
				contentType: 'application/json',
				url: window.location.origin + '/api/issues?keyword=' + $('#keyword').val(),
				dataType: 'json',
				timeout: 5000,
				success: function(dataReceive){
					console.log('------> GET all issues <------ ');
					console.log(dataReceive);
				},
				error: function(e) {
					console.log(e);
				}
			})
		});

		$("#btn-issue-by-id").click( function() {
			$.ajax({
				type: 'GET',
				contentType: 'application/json',
				url: window.location.origin + '/api/issues/' + $('#issueId').val(),
				dataType: 'json',
				timeout: 5000,
				success: function(dataReceive){
					console.log('------> GET an issue by id <------');
					console.log(dataReceive);
					$("#title").val(dataReceive.title);
					$("#content").val(dataReceive.content);
					$("#replyMessage").val(dataReceive.replyMessage);
					$("#status").val(dataReceive.status);
				},
				error: function(e) {
					console.log(e);
				}
			})
		});

		$("#btn-all-issues-by-accountId").click( function() {
			$.ajax({
				type: 'GET',
				contentType: 'application/json',
				url: window.location.origin + '/api/accounts/' + $('#accountId').val() + '/issues',
				dataType: 'json',
				timeout: 5000,
				success: function(dataReceive) {
					console.log('------> GET all issues by accountId <------');
					console.log(dataReceive);
				},
				error: function(e) {
					console.log(e);
				}
			})
		});

		$("#btn-create-issue").click( function() {
			data = JSON.stringify({
				'title' : $('#title').val(),
				'content' : $('#content').val(),
				'replyMessage' : $('#replyMessage').val(),
				'status' : $('#status').val()
			});

			$.ajax({
				type: 'POST',
				contentType: 'application/json',
				url: window.location.origin + '/api/issues',
				dataType: 'json',
				data: data,
				timeout: 5000,
				success: function(dataReceive) {
					console.log('------> POST create issue <------');
					console.log(dataReceive);
				},
				error: function(e){
					console.log(e);
				}
			});
		});

		$("#btn-update-issue").click( function() {
			data = JSON.stringify({
				'title' : $('#title').val(),
				'content' : $('#content').val(),
				'replyMessage' : $('#replyMessage').val(),
				'status' : $('#status').val(),
				'token' : '123345gfds'
			});

			$.ajax({
				type: 'PUT',
				contentType: 'application/json',
				url: window.location.origin + '/api/issues/' + $("#issueId").val(),
				dataType: 'json',
				data: data,
				timeout: 5000,
				success: function(dataReceive) {
					console.log('------> PUT update issue <------');
					console.log(dataReceive);
				},
				error: function(e){
					console.log(e);
				}
			});
		});
	</script>	
</body>
</html>